In [17]:
import pandas as pd
import itertools
import time
from numpy import random

In [18]:
csv_file_path = input("Please input the csv file path to create the logs: ")

Please input the csv file path to create the logs: Sheet1.csv

In [19]:
# Read the csv file
df = pd.read_csv(csv_file_path)

In [20]:
df.head()

    00000   Vida  MXC123
0    57.0    Kim   HRT54
1   346.0    Ava    HURT
2   236.0   Mira  HICH75
3  1000.0    Azi    H445
4   647.0  Ravid  KOI889

In [21]:
# Create a list of unique values per column
unique_dict = dict()

for col in df.columns:
    unique_dict[col] = df[col].unique()
    random.shuffle(unique_dict[col])

In [22]:
# Take a product of the unique values per column
combinations = list(itertools.product(*unique_dict.values()))

In [23]:
# Perform a random shuffle on the values
random.shuffle(combinations)

In [24]:
# Print the logs
for i, row in enumerate(combinations):
    print(", ".join([str(x) for x in row]))
    time.sleep(0.1)
    
    # printing stop at 100 logs.  
    if i > 100:
        break

57.0, Mira, nan
7485.0, Jake, KOI889
648.0, Azi, H8192
748393.0, Ava, nan
74849.0, Jake, H445
647.0, Mira, HURT
748393.0, Ravid, HICH75
74849.0, Zach, 3TRE4
nan, Mira, H445
647.0, Zach, HURT
236.0, Jake, KOI889
74849.0, Ava, HURT
648.0, Jake, HICH75
647.0, Alec, nan
57.0, nan, 3TRE4
748393.0, Azi, nan
7485.0, Ravid, HRT54
nan, nan, HICH75
7485.0, Jake, HICH75
648.0, Ava, HICH75
647.0, Mira, Rexii
1000.0, Jake, nan
1000.0, Lee, HURT
648.0, Zach, nan
74849.0, Zach, HICH75
236.0, Azi, Rexii
748393.0, Jake, KOI889
7485.0, Jake, H445
7485.0, Lee, Rexii
74849.0, Lee, HRT54
236.0, Alec, H445
57.0, Ravid, TTY665
1000.0, Alec, KOI889
nan, Lee, HICH75
7485.0, Mira, Rexii
nan, Azi, KOI889
648.0, Jake, nan
346.0, Lee, HURT
1000.0, Lee, TTY665
346.0, Ava, HRT54
57.0, Jake, 3TRE4
648.0, nan, HRT54
346.0, Ravid, KOI889
57.0, Kim, KOI889
748393.0, Lee, H445
57.0, Lee, H8192
nan, Kim, H8192
74849.0, Mira, HURT
236.0, Lee, H8192
74849.0, Kim, 3TRE4
648.0, nan, H445
647.0, Ravid, TTY665
1000.0, Lee, H8192
236.0, Mira, HRT54
236.0, nan, nan
74849.0, Lee, Rexii
57.0, Alec, H8192
nan, Zach, H8192
346.0, Alec, KOI889
748393.0, Jake, nan
74849.0, Ravid, Rexii
346.0, nan, nan
647.0, Kim, KOI889
1000.0, Ravid, nan
74849.0, Azi, nan
647.0, nan, TTY665
648.0, Jake, KOI889
346.0, Zach, KOI889
7485.0, Jake, TTY665
236.0, Alec, TTY665
648.0, Jake, H8192
74849.0, Mira, TTY665
74849.0, Kim, HICH75
648.0, nan, nan
236.0, Jake, HRT54
57.0, Azi, Rexii
nan, Ava, KOI889
nan, Azi, HRT54
nan, Lee, KOI889
236.0, Ava, Rexii
1000.0, Ravid, TTY665
nan, Azi, Rexii
57.0, Alec, TTY665
57.0, Ava, TTY665
nan, Kim, H445
748393.0, Zach, H8192
7485.0, Zach, H8192
7485.0, Lee, nan
nan, Mira, HRT54
nan, Azi, H445
7485.0, Mira, KOI889
74849.0, Zach, H445
74849.0, Kim, nan
1000.0, Mira, 3TRE4
7485.0, Ava, H445
647.0, Lee, HICH75
nan, Zach, HRT54
7485.0, Zach, nan
74849.0, Zach, H8192
346.0, Ava, HICH75
648.0, Mira, HURT
7485.0, Lee, 3TRE4